:root {
    --very-ligh-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-grren: #ACD9B2;
    --white: #FFFFFF;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.title {
    font-size: var(--lg);
}
.my-order-content{
    overflow-y: auto;
}
.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto auto ;
    width: 360px;
    position: absolute;
    right: 0;
    padding: 24px; 
    box-sizing: border-box;
    height: 100vh;  
}
.total-order{

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom:20px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 0 24px;
}
.total-order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.total-order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.total-order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.shopping-card {
    display: grid;
    grid-template-columns:auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-card figure {
    margin: 0;
    height: 70px; 
}
.shopping-card figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-card p:nth-child(2) {
    color: var(--very-ligh-pink);
    font: var(--md);
    
}
.shopping-card p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
.primary-button {
    background-color: var(--hospital-grren);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height: 50px;
    width:100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
/*Scroll*/
.my-order-content::-webkit-scrollbar {
    width: 8px;
}
.my-order-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
 
.my-order-content::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
  
.my-order-content::-webkit-scrollbar-thumb:hover {
    background: var(--hospital-green);
    box-shadow: 002px1pxrgba(0, 0, 0, 0.2);
}
.my-order-content::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
  
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
@media (max-width:640px ) {
    .my-order-container {
        width: 100%;
    }
    .title{
        display: none;
    }
    
}